.navbar-inverse {
	border-bottom: 2px solid Black;
}

.jumbotron {
	border-bottom: 1px solid LightGrey;
	display: none;
}

.show {
	display: block;
}

.project img {
	width: 75%;
}

.project h4 {
	position: relative;
	top: 5px;
}